<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="https://tienganhtflat.com/uploads/blog/666_57fdf7bdc2f25.jpg" width="150px" class="user-avatar" />
            <h1>18HCB Banking</h1>
            <form novalidate #formLogin="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="tendangnhap" class="form-control input-underline input-lg"
                            [(ngModel)]="modelLogin.tenDangNhap" placeholder="Tên đăng nhập" required>
                        <div class="validate-form" style="float: left;"
                            *ngIf="formLogin.controls.tendangnhap?.errors?.required && formLogin.controls.tendangnhap?.touched">
                            <span>(*) Tên đăng nhập không được trống !</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="matkhau" class="form-control input-underline input-lg"
                            [(ngModel)]="modelLogin.matKhau" placeholder="Mật khẩu" required>
                        <div class="validate-form" style="float: left;"
                            *ngIf="formLogin.controls.matkhau?.errors?.required && formLogin.controls.matkhau?.touched">
                            <span>(*) Mật khẩu không được trống !</span>
                        </div>
                    </div>
                    <div style="float: left;">
                        <a routerLink="forgot-password" >Quên mật khẩu </a>
                    </div>
                    <re-captcha (resolved)="resolved($event)" siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU">
                    </re-captcha>
                </div>
               
                <button class="btn rounded-btn" [disabled]="(!formLogin.valid || !isLoger)">
                    Đăng nhập
                </button>
            </form>
        </div>
    </div>
</div>