<div>
  <button class="btn rounded-btn" style="margin: 10px;" (click)="taoMoiTaiKhoan()">
    <i class="material-icons">
      note_add
    </i> Tạo tài khoản
  </button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên nhân viên</th>
      <th scope="col">Email</th>
      <th scope="col">Cmnd</th>
      <th scope="col">Điện thoại</th>
      <th scope="col">Địa chỉ</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listTaiKhoanNhanVien; let stt= index">
      <th scope="row">{{stt + 1}}</th>
      <td>{{item.tenNhanVien}}</td>
      <td>{{item.email}}</td>
      <td>{{item.cmnd}}</td>
      <td>{{item.sdt}}</td>
      <td>{{item.diaChi}}</td>
      <td *ngIf="item.idLoaiTaiKhoan === 2">
        <i class="material-icons" title="Xóa" style="font-size: 35px; cursor: pointer;" (click)="xoaTaiKhoan(item.maTk)">
          delete_forever
        </i>
        <i class="material-icons" title="Chỉnh sửa" style="font-size: 35px; cursor: pointer;" (click)="suaThongTinTaiKhoan(item)" >
          create
        </i>
      </td>
    </tr>
  </tbody>
</table>