<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Đổi mật khẩu </h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form novalidate #changePassword="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-content" style="height: 150px;">
      <div class="form-group">
        <input type="password" name="matKhau" class="form-control input-underline input-lg"
          [(ngModel)]="changePassModel.matKhau" placeholder="Mật khẩu" required>
        <div class="validate-form" style="float: left;"
          *ngIf="changePassword.controls.matKhau?.errors?.required && changePassword.controls.matKhau?.touched">
          <span>(*) Mật khẩu không được trống !</span>
        </div>
      </div>

      <div class="form-group">
        <input type="password" name="matKhauMoi" class="form-control input-underline input-lg"
          [(ngModel)]="changePassModel.matKhauMoi" placeholder="Mật khẩu mới" required>
        <div class="validate-form" style="float: left;"
          *ngIf="changePassword.controls.matKhauMoi?.errors?.required && changePassword.controls.matKhauMoi?.touched">
          <span>(*) Mật khẩu mới không được trống !</span>
        </div>
      </div>
    </div>
    <button style="margin-left: 350px; background-color: #61b2e2;" class="btn rounded-btn" [disabled]="(!changePassword.valid)">
        Đổi mật khẩu 
    </button>
  </form>
</div>