<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên tài khoản tiết kiệm</th>
      <th scope="col">Ngày tạo </th>
      <th scope="col">Số tiền tiết kiệm</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of thongTinTaiKhoanModel">
      <th scope="row">{{item.id}}</th>
      <td>
        {{item.tenTaiKhoanTietKiem}}
      </td>
      <td>{{item.ngayTao | date:'dd/MM/yyyy'}}</td>
      <td>{{item.soTienTietKiem | currency: "VND" }} VND</td>
    </tr>
  </tbody>
</table>