<mat-tab-group mat-align-tabs="center" disablePagination="true" [selectedIndex]="indexTab" animationDuration="1000ms">
  <mat-tab label="Thông tin" disabled="true">
    <form style="width: 500px;margin: 0 auto;margin-top: 20px;" novalidate #form="ngForm"
      (ngSubmit)="onSubmitThongTin()">
      <div class="form-content">
        <div class="form-group">
          <input readonly type="text" name="tennguoinhan" class="form-control input-underline input-lg"
            [(ngModel)]="chuyenkhoanModel.tennguoinhan" placeholder="Tên Người nhận" required>
        </div>
        <div class="form-group">
          <!-- style="width: 500px;" style="display: flex;"> -->
          <div>
            <input type="number" name="sotaikhoan" class="form-control input-underline input-lg" (focusout)="getThongTinTaiKhoan()"
              [(ngModel)]="chuyenkhoanModel.sotaikhoan" placeholder="Số tài khoản người nhận" required>
          </div>
          <div class="validate-form" style="float: left;"
            *ngIf="form.controls.sotaikhoan?.errors?.required && form.controls.sotaikhoan?.touched">
            <span>(*) Số tài khoản người nhận không được trống!</span>
          </div>
        </div>
        <div class="form-group">
          <select name="tenNganHang" class="form-control input-underline input-lg" matNativeControl required
            [(ngModel)]="chuyenkhoanModel.tennganhang">
            <option *ngFor="let item of dsNganHang" [value]="item.tenNganHang">{{item.tenNganHang}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="number" name="sotiengui" class="form-control input-underline input-lg"
            [(ngModel)]="chuyenkhoanModel.sotiengui" placeholder="Số tiền gửi" required maxlength="10">
          <div class="validate-form" style="float: left;"
            *ngIf="form.controls.sotiengui?.errors?.required && form.controls.sotiengui?.touched">
            <span>(*) Số tiền không được trống!</span>
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control input-underline input-lg" name="noidungchuyentien" rows="3"
            [(ngModel)]="chuyenkhoanModel.noidungchuyentien" placeholder="Nội dung chuyển tiền"></textarea>
        </div>
      </div>
      <button style="margin-left: 410px; background-color: #61b2e2;" class="btn rounded-btn"
        [disabled]="(!form.valid) ">
        Xác nhận
      </button>
    </form>
  </mat-tab>
  <mat-tab label="Xác nhận" disabled="true">
    <div style="width: 500px;margin: 0 auto;margin-top: 20px;">
      <div style="background-color: #b9b6b6;line-height: 40px;">
        <span>Tên tài khoản : {{chuyenkhoanModel.tennguoinhan}}</span> <br>
        <span>Số tài khoản : {{chuyenkhoanModel.sotaikhoan}} </span> <br>
        <span>Số tiền : {{chuyenkhoanModel.sotiengui | currency: "VND"}} </span> <br>
        <span>Nội dung: {{chuyenkhoanModel.noidungchuyentien }} </span> <br>
        <div class="form-group" style="display: flex;">
          <span> Mã OTP : </span>
          <input style="width: 150px !important; margin-left: 5px;" type="number"
            class="form-control input-underline input-lg" [(ngModel)]="codeOTP">
          <button type="button" style="font-size: 10px; margin-left: 5px;" (click)="getCodeOTP()">Lấy mã OTP</button>
          <span style="font-size: 10px; margin-left: 5px;">Mã OTP sẽ gửi tới mail đăng ký của bạn!</span>
        </div>
      </div>

      <div style="display: flex;margin-top: 10px;margin-left: 280px;">
        <button style=" background-color: #e0a4a7;" class="btn rounded-btn" (click)="back()">
          Quay lại
        </button>
        <button style="margin-left: 12px; background-color: #61b2e2;" class="btn rounded-btn" (click)="chuyenkhoan()">
          Chuyển khoản
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>