.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::ng-deep.mat-menu-content{
  height: 300px;
  .mat-menu-item {
    height: 80px !important;
    line-height: 20px;
  }
}

// ::ng-deep.button.mat-menu-item {
//   height: 80px;
// }