<div style="margin: 20px;">
  <span>Tên tài khoản : {{tentaikhoan}} </span> <br>
  <span>Tên số tài khoản : {{sotaikhoan}}</span>
</div>
<div style="height: 350px; overflow: auto;">
  <span>Lịch sử chuyển tiền </span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ngày giao dịch </th>
        <th scope="col">Số tài khoản nhận  </th>
        <th scope="col">Số tiền chuyển</th>
        <th scope="col">Nội dung</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of listChuyenTien; let stt = index">
        <th scope="row">{{stt+1}}</th>
        <td>
          {{item.ngayGd | date:'dd/MM/yyyy'}}
        </td>
        <td>{{item.stkNhan}}</td>
        <td>{{item.soTienGui | currency: "VND" }} VND</td>
        <td>{{item.noiDung }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div style="height: 350px; overflow: auto; margin-top: 20px;">
  <span>Lịch sử nhận tiền </span>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Ngày giao dịch </th>
        <th scope="col">Số tài khoản gửi</th>
        <th scope="col">Số tiền chuyển</th>
        <th scope="col">Nội dung</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listNhanTien">
        <th scope="row">{{item.id}}</th>
        <td>
          {{item.ngayGd | date:'dd/MM/yyyy'}}
        </td>
        <td>{{item.stkGui}}</td>
        <td>{{item.soTienGui | currency: "VND" }} VND</td>
        <td>{{item.noiDung }}</td>
      </tr>
    </tbody>
  </table>
</div>